@import '../../style/color.scss';

.container-error {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: $blue;
}

.wrapper-text_error {
    width: clamp(100px, 100%, 500px);
    height: 300px;
    border-radius: 8px;
    background-color: white;
}
