@import '../../style/color.scss';

.container-error {
    width: 100%;
    height: 100vh;
    background-color: $blue;
}

.wrapper-text_error {
    width: clamp(100px, 100%, 500px);
    height: 300px;
    border-radius: 8px;
    background-color: white;
}
